:host {
  display: block;
  width: 300px;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  margin: 8px 0;
}

.user-avatar {
  object-fit: cover;
  height: 250px;
}

.user-description {
  text-align: justify;
  min-height: 150px;
}
